<section class="w-full flex justify-center px-6 flex-col items-center">
  <h2 *ngIf="error$ | async; else content" class="message-error">Sorry! There were an erro! :(</h2>
  <ng-template #content>
    <h1 *ngIf="gettingQuestions$ | async; else questions">Loading...</h1>

    <ng-template #questions>
      <div *ngFor="let question of questions$ | async; let i = index"
          class="w-full md:w-7/12 lg:w-5/12 xl:w-4/12 bg-off-white flex flex-col px-4 py-6 rounded-xl shadow mb-4">

        <div class="w-full mb-4">
          <h2 class="text-md font-bold">Question #{{ i + 1 }}:</h2>
          <ng-container *ngIf="questionsAnswered">
            <p class="message-correct" *ngIf="question.isCorrect == true; else inCorrect">It's Correct</p>
            <ng-template #inCorrect>
              <p class="message-incorrect">It's Incorrect ':('</p>
            </ng-template>
          </ng-container>
          <p>
            {{ question.question }}
          </p>
        </div>

        <div class="w-full">
          <h2 class="font-bold mb-4">Options:</h2>

          <div class="w-full flex flex-wrap content-center justify-center">
            <div *ngFor="let answer of question.answers" class="w-6/12 px-4">
              <button (click)="onAnswerClicked(question._id, answer._id, question.answers)"
                      [class.bg-primary-default]="answer._id !== question.selectedId"
                      [class.bg-secondary-default]="answer._id === question.selectedId"
                      class="text-off-white rounded-xl w-full p-4 mb-4">
                {{ answer.text }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</section>
